<script src='../../../assets/vue.min.js'></script>
<script>
  Homey.setTitle('Select Lock to add User ID');
  Homey.emit('getDevices', null, function (err, result) {
    if (err) {
      console.log(err);
      return;
    }
    var allDevices = result;
    new Vue({
      el: '#alldevices',
      data: {
        selectedDevices: [],
        devices: {},
      },
      mounted() {
        this.devices = allDevices;
      },
      methods: {},
      watch: {
        'selectedDevices': function (val) {
          Homey.emit('devicesChanged', {
            'devices': val
          }, function (err, result) {
            if (err) {
              console.log(err);
              return;
            }
            console.log(result);
          });
        }
      }
    });

  });
</script>

<div id="alldevices">
  <ul id="devices-list" >
    <li class="device" v-for="device in devices">
      <label :for="device.sid" class="name">
        <div class="overlay"></div>
        <span class="name" tabindex="-1">{{ device.name }} | {{ device.sid }}</span>
      </label>
      <label :for="device.sid" class="radio">
        <input :id="device.sid" :value="device" name="device" type="radio" tabindex="2" v-model="selectedDevices">
      </label>
    </li>
  </ul>

</div>
